@font-face {
  font-family: roboto-light;
  src: url(../font/roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: roboto-boldx;
  src: url(../font/roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: robotox;
  src: url(../font/roboto/Roboto-Regular.ttf);
}

body{
	/*min-width: 400px;*/
}

.hide-on-med-and-down{
	width: 100%;
	height: 64px;
	/*border: 1px solid;*/
}

#modal1{
	top: 5% !important;
	width: 90%;
	height: 90% !important;
	max-height: 90% !important;
}
#modal2{
	top: 0% !important;
	width: 100%;
	height: 100% !important;
	max-height: 100% !important;
}

/*back button modal 2*/

.backBTN{
	position: absolute;
	top: 20px;
	right: 20px;
	border: 4px solid white;
	color: white;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	padding:5px;
}

.backBTN .material-icons{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    font-size: 34px; 
}

.modalClassyBG{
	background-color: #2196F3;
	width: 100%;
	height: 240px;
}

.modalClassyContainer{
	width: 80%;
	margin-left: 10%;
	position: relative;
	top: -212px;
}

.modalClassyContainer h3{
	font-weight: 300;
	color: white;
	text-shadow: 1px 1px #BDB2B2;
}

.modalClassytab{
	width: 12% !important;
	margin-left: 0px !important;
}

.modalClassytab li{
	text-align: left !important;
}

.modalClassytabcol{
	padding-left: 0px !important;
}

.tabs .indicator {
 	background-color: white;
 }

 .tabs .tab a {
	color: white;
	background-color: #2196F3;
 	/*width: 40px;*/
 }

 .tabs .tab a:hover {
  color: white;
 }

/* Schedule */

.modalClassyDate{
	font-weight: 300;
    margin-top: 40px !important;
    margin-left: 10px;
    font-size: 30px;
}

.modalClassyIcon{
	position: relative;
    top: 7px;
    font-size: 25px;
}

.modalClassyTime{
	color: grey;
	margin: 40px;
}

.modalClassyTime1{
	color: grey;
	margin:20px 40px 20px 10px; 
}
.someclass{
	margin-bottom:20px; 
}
/*Speaker Profie*/

.span-card{
	width: 260px;
	height: 320px;
	/*border: 1px solid;*/
	/*float: left;*/
	margin-left: 50px;
	margin-bottom: 30px;
}

.name-text-head{
	font-size: 19px !important;
	font-weight: 400 !important;
	position: relative;
	/*top: -74px;*/
	/*text-align: center ;*/
}

.name-text-pos{
	font-size: 14px !important;
	position: relative;
	/*top: -80px;	*/
	/*text-align: center;*/
	font-weight: 400;
	font-style: bold;
}

.name-text-topic{
	font-size: 14px !important;
	position: relative;
	/*top: -80px;	*/
	/*text-align: center;*/
	font-weight: 400;
	font-style: bold;
}

.team-card{
	float: left;
	/*border: 1px solid red;*/
	width: 250px;
	margin-left: 30px;
	margin-bottom: 80px;
}

.team-4{
	margin-right: 200px;
}

/*Speaker Profile ends here*/

.nav-wrapper{
	font-family: roboto-light;
	background-color: #2196F3;
	text-align: center !important;
}
}

#nav-mobile>li{
	font-size: 1.3rem;
}

#lnmiit{
	font-family: roboto-boldx;
}


.nav-wrapper>ul{
	text-align: center !important;

}

.nav-wrapper>ul>li{
	text-align: center;
}



/*=========================================================
		Parallax effect
==========================================================*/
.parallax{
	position: initial;
}


section.module.parallax-1{
  background-image: url("../media/images/bg.jpg");
  background-size: 100% 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgb(255, 255, 255);
  font-size: 92px;
  padding-top: 15%;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: roboto-light;

}

#homex{
	margin-top: -64px;

}


#dates{
	color: white;
	font-size: 22px;
	text-align: center;
	line-height: 0px;
}

#register{
	color: white;
	font-size: 34px;
	text-align: center;
	border: 5px solid;
	line-height: 200px;
	padding: 0% 2%;

}

#about-us{
	font-family: robotox;
}

#logo{
	position: fixed;
	width: 120px;
	height: 120px;
	top :13%;
	left:2%;
}
#imp-logo{
	position: fixed;
	width: 120px;
	height: 120px;
	top :13%;
	right:2%;	
}

#just-a-line{
	border: 1px solid #bcbcbc;
	width: 80%;
	margin-left: 10%;
}
.row .col.m4 {
    width: 30.333%;
    margin-left: 0px;
}

#map{
	background-color: #2196F3;
	height: 700px;
}

footer.page-footer{
background-color: #2196F3;
margin-top: 0px;
box-shadow: 0px -2px 20px #000100;
padding-bottom: 1px;
}


.social-icon>a>img{
	width: 45px;
	margin-left: 40px;
	border: 0px solid black;
	border-radius: 45px;
	box-shadow: 2px 2px 5px #000000;
}

.contact-1,.contact-2{
	position: relative;
	top: 7px;
	left: -3px;
}


#DateCountdown{
	width: 70%;
	margin: 0% 15%;
	margin-top: 3%;
}


.register-btns{
	margin: 15% 0;
}

.collapsible-header:hover{
	background-color: #2196F3;
	color: white;
}

.collapsible-body{
	color: #2196F3;
}

.btn{
	background-color: #2196F3;
}

.custom_size{
	font-size: 42px;
}

.downtown_size{
	width: 100%;
}


@media screen and (max-width: 1920px) {

.speaker-1{
	margin-left: 21% !important;
}
.social-icon{
	margin-left: 80px;
}
.contact-1{
	margin-left: 55px;
}

.team-card{
	margin-bottom: 50px;
}
.team-1{
	margin-left: 18%;
}
.team-4{
	margin-right: 0px;
}

}

@media screen and (max-width: 1600px) {

.speaker-1{
	margin-left: 15% !important;
}

.team-1{
	margin-left: 11.5%;
}

}

@media screen and (max-width: 1366px) {

.speaker-1{
	margin-left: 7% !important;
}
.team-1{
	margin-left: 1%;
}
.social-icon{
	margin-left: 70px;
}
.contact-1{
	margin-left: 55px;
}

}
@media screen and (max-width: 1280px) {

.speaker-1{
	margin-left: 6% !important;
}

.team-1{
	margin-left: 1%;
}

.social-icon{
	margin-left: 50px;
}
.contact-1{
	margin-left: 55px;
}

}


@media screen and (max-width: 1024px) {

.speaker-1,.speaker-3{
	margin-left: 21% !important;
}

.team-1{
	margin-left: 4%;
}

.social-icon{
	margin-left: 20px;
}
.contact-1{
	margin-left: 25px;
}

}



@media screen and (max-width: 800px) {

.speaker-1,.speaker-3{
	margin-left: 15% !important;
}

.team-1,.team-3{
	margin-left: 13%;
}

#map{
	height: 600px;	
}
.social-icon{
	margin-left: 28%;
}
.contact-1{
	margin-left: 27%;
}

}

@media screen and (max-width: 750px) {

.speaker-1,.speaker-3{
	margin-left: 12% !important;
}

.team-1,.team-3{
	margin-left: 9%;
}

}

@media screen and (max-width: 650px) {

.speaker-1,.speaker-2,.speaker-3,.speaker-4{
	margin-left: 28% !important;
}

.team-1,.team-2,.team-3,.team-4{
	margin-left: 26%;
}

#map{
	height: 500px;	
}
.social-icon{
	margin-left: 22%;
}
.contact-1{
	margin-left: 22%;
}

}

@media screen and (max-width: 550px) {

.speaker-1,.speaker-2,.speaker-3,.speaker-4{
	margin-left: 23.5% !important;
}

.team-1,.team-2,.team-3,.team-4{
	margin-left: 23%;
}

.head-1{
	font-size: 60px !important;
}

}

@media screen and (max-width: 450px) {

.speaker-1,.speaker-2,.speaker-3,.speaker-4{
	margin-left: 18% !important;
}

.team-1,.team-2,.team-3,.team-4{
	margin-left: 16%;
}

#map{
	height: 400px;	
}

.social-icon{
	margin-left: 12%;
}
.contact-1{
	margin-left: 12%;
}

}
@media screen and (max-width: 400px) {

.speaker-1,.speaker-2,.speaker-3,.speaker-4{
	margin-left: 13% !important;
}

.team-1,.team-2,.team-3,.team-4{
	margin-left: 11%;
}


}

@media screen and (max-width: 360px) {

.speaker-1,.speaker-2,.speaker-3,.speaker-4{
	margin-left: 8% !important;
}

.head-1{
	font-size: 36px !important;
}

}